---
---
@import "{{ site.theme }}";
aside{
    background-color: #000;}


.box{
    float: left;
     display:inline-block;
    border: border-box;
    width: 50%;
   box-sizing: border-box;
    display: table;    height: 300px;  
      padding: 10px;
    
}
